/*  
************************right*********************
*/

* {
    font-family: MyHelvetica;
}

.wrap {
    width: 95%;
    max-width: 12000px;
    margin: 0 auto;
}

body {
    font-size: 75%;
}

.rightbar {
    padding-left: 5px;
    margin-top: 10px;
    width: 100%;
    height: 100%;
}

#divforsvg {
    margin-top: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
}

.threshbar, .datenum {
    color: #1ABC9C;
    font-size: 1rem;
    font-family: "Helvetica";
}

.input-group-label {
    color: white;
    background-color: #2497E3;
}

.d3-tip {
    line-height: 1;
    color: #1ABC9C;
}

.link-d3-tip {
    line-height: 0.5;
    color: #1ABC9C;
}

.informationsec {
    color: #1ABC9C;
}


/*\==============================================*/

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #2497E3;
    border-radius: 1px;
    border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497E3;
    height: 22px;
    width: 22px;
    border-radius: 25px;
    background: #A1D0FF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #2497E3;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #2497E3;
    border-radius: 1px;
    border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497E3;
    height: 22px;
    width: 22px;
    border-radius: 25px;
    background: #A1D0FF;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #2497E3;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
    background: #2497E3;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497E3;
    height: 22px;
    width: 22px;
    border-radius: 25px;
    background: #A1D0FF;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #2497E3;
}

input[type=range]:focus::-ms-fill-upper {
    background: #2497E3;
}
