#notice{
    color:white;
    background-color:#337ab7;
    padding:30px 0 10px 0;
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

#notice_second{
    height: 280px;
	overflow-y: auto;
	overflow-x: hidden;
}

#notice_first{
    height: 280px;
	overflow-y: auto;
	overflow-x: hidden;
}

#notice a{
  color:white;
  text-decoration:none;
}

#board > h3, #schedule > h3{
    text-align:center;
    padding:10px 0px 10px 0px;
    border-bottom: 2px solid white;
    overflow:auto;
}

#board li, #schedule li{
    list-style-type:none;
    font-size:1.2em;
    margin:5px;
}

#board more, #schedule more{
    float:right;
    padding-bottom:2px;
}

#board li span{
    float:right;
}

#schedule li:not(:last-child){
    border-bottom : 2px dashed white;
}

#schedule ul{
    padding-left:0;
}
#board a:hover,#board a:active, #schedule a:hover,#schedule a:active{
    color:rgba(255,255,255,0.8);
}

.logo:nth-child(2){
    padding-top:30px;
}

#contact ul.list-inline li{
    margin:0px 20px;
}

#contact{
    background-color:#337ab7;
}

#contact #contactList li {
    min-height:20px;
    font-size:16px;
}

#contact{
    color:white;
    padding:25px 0px 25px 0px;
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

#contact a{
    color:white;
}

#contact a:hover{
    color:rgba(255,255,255,0.8);
}

header .btn{
    margin : 0px 5px 0px 5px;
}

p.detailInfo{
    display:none;
}

span.blue{
	color:blue;
	font-weight:bold;
}

.boardItem > div{
    overflow:auto;
}

.boardItem a.boardTitle{
    font-size:14px;
}

#serviceNotice{
    width:300px;
    height:80px;
    position:absolute;
    right:5%;
    top:60%;
    font-size:16px;
    font-weight:bold;
    /* border:2px solid white; */
    padding:10px;
    background-color:rgba(253,245,230,0.2)
}

#serviceNotice > a {
    color: red;
}
